<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <Section Name="Processors">
    <!--Controller accepts GET requests and returns an integer-->
    <Parameter Name="GetRandom" Value="{ errorSize : 128, latency : 0, steps : [ 'GenerateRandom' ], successSize : 32 }" />
  </Section>
  <Section Name="Steps">
    <!--Processor generates primes then returns a random number seeded from the last prime-->
    <Parameter Name="GenerateRandom" Value="{ type : 'LoadStep', step : { bytes : 128, time : 1.0, percent : 100, processors : 1 } }" />
  </Section>
  <Section Name="Clients">
  </Section>
  <Section Name="Policies">
  </Section>
</Settings>
