<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <Section Name="Processors">
    <!--Controller accepts GET requests to retrieve a single name-->
    <Parameter Name="GetName" Value="{ errorSize : 128, latency : 0, steps : [ 'GETRandomId', 'GETNameLookup' ], successSize : 64 }" />
    <!--Controller accepts GET requests to retrieve multiple names-->
    <Parameter Name="GetNames" Value="{ errorSize : 128, latency : 0, steps : [ 'GETRandomIds', 'POSTNameLookup' ], successSize : 384 }" />
  </Section>
  <Section Name="Steps">
    <Parameter Name="GETNameLookup" Value="{ type : 'RequestStep', step : { cacheKey : 'GN', client : 'NameLookup', method : 'get', path : '/api/lookup/GetName', size : 32, reuseSockets : true, trueAsync : false } }"/>
    <Parameter Name="POSTNameLookup" Value="{ type : 'RequestStep', step : { cacheKey : 'PN', client : 'NameLookup', method : 'post', path : '/api/lookup/GetNames', size : 320, reuseSockets : true, trueAsync : false } }"/>
    <Parameter Name="GETRandomId" Value="{ type : 'RequestStep', step : { cacheKey : 'GR', client : 'Random', method : 'get', path : '/api/random/GetRandom', size : 32, reuseSockets : true, trueAsync : false } }"/>
    <Parameter Name="GETRandomIds" Value="{ type : 'RequestStep', step : { parallelCount : 10, parallelError : 'Any', cacheKey : 'GR', client : 'Random', method : 'get', path : '/api/random/GetRandom', size : 32, reuseSockets : true, trueAsync : false } }"/>
  </Section>
  <Section Name="Clients">
    <Parameter Name="Random" Value="{ baseAddress : 'http://cluster-emu-test.northeurope.cloudapp.azure.com:81', policies : [], headers : { 'Accept' : 'application/json' } }" />
    <Parameter Name="NameLookup" Value="{ baseAddress : 'http://cluster-emu-test.northeurope.cloudapp.azure.com:82', policies : [], headers : { 'Accept' : 'application/json' } }" />
  </Section>
  <Section Name="Policies">
  </Section>
</Settings>